body {
  background-color: #121212;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

